@page "/"
@using BattleJop.Web.Components.Modals
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

@if(_isLoading)
{
    <Loader></Loader>
}
else{
    <div class="home">
        <h1 class="title">J.O.P</h1>
        <img class="logo" src="images/Logo.svg" alt="JOP"/>
        <div class="button-list">
            <button class="golden-button" @onclick="GoToCreation">
                Créer un tournoi
            </button>
            <div class="spacer"></div>
            <button class="golden-button" @onclick="GoToRoundAsync">
                Suivre le tournoi en cours
            </button>
        </div>
    </div>
}
