@page "/round"
@using BattleJop.Web.Components.Cards
@rendermode InteractiveServer
@inject TournamentApiClient TournamentApi

<PageTitle>Manche</PageTitle>

<h1>Manche @_round.RunningOrder</h1>

<div class="round-grid">
    @foreach (var match in _round.Matches)
    {
        <MatchCard Match="match"></MatchCard>
    }
</div>