.header-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

    .header-container h1 {
        text-align: center;
        font-size: xx-large;
        margin: 0;
        flex-grow: 1;
    }

    .header-container img {
        width: 3rem;
        position: absolute;
        right: 0;
        cursor: pointer;
    }

.round-grid {
    display: grid;
    gap: 1rem;
}

@media screen and (min-width: 1000px) {
    .round-grid {
        grid-template-columns: 1fr 1fr;
    }
}

.center-zone{
    display:flex;
    justify-content:center
}