@page "/round"
@using BattleJop.Web.Components.Cards
@using BattleJop.Web.Enum
@rendermode InteractiveServer
@inject TournamentApiClient TournamentApi

<PageTitle>Manche</PageTitle>
@if (_isLoading)
{
    <Loader></Loader>
}
else
{
    <div class="header-container">
        <h1>Manche @_round.RunningOrder</h1>
        <img src="images/RankingIcon.svg" alt="Ranking" onclick="@CheckRanking" />
    </div>


    <div class="round-grid">
        @foreach (var match in _round.Matchs)
        {
            <MatchCard Match="match"></MatchCard>
        }
    </div>

    <div class="spacer"></div>


    @if(_round.Matchs.All(m => m.State == MatchState.Ended))
    {
        <div class="center-zone">
            <button class="golden-button" onclick="@EndRound">Terminer la manche</button>
        </div>
    }
}