@page "/"
@using BattleJop.Web.Components.Modals
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<div class="home">
    <h1 class="title">J.O.P</h1>
    <div class="button-list">
        <button class="golden-button" @onclick="CreateTournamentAsync">
            Commencer un tournoi
        </button>
        <div class="spacer"></div>
        <button class="golden-button" @onclick="GoToRound">
            Suivre le tournoi en cours
        </button>
    </div>
</div>


<InitTournamentModal OnModalReady="@HandleModalReady"></InitTournamentModal>
